form {
      position: relative;
      background-color: #eeeeee;
      border-radius: 3px;
      padding: 20px;
      width: 18em;
      left: 15px;
}

form .btn-group {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

form .btn {
      margin: 1px;
}
